<!DOCTYPE html>

<!-- Bootstrap code -->
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Tutor Me</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="/accounts/login/">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/accounts/signup/">Sign Up</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <ul>
        {% if user.is_authenticated %}
          {% buttons %}
          <li><a href="{% url 'account_email' %}" type="button" class="btn btn-primary" style="margin:5px;">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}" type="button" class="btn btn-primary" style="margin:5px;">Sign Out</a></li>
          {% endbuttons %}
        {% else %}
          {% buttons %}
          {% endbuttons %}
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
