{% load socialaccount %}

<html>
<head>
  <title>Tutor Me</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <style>
    h1 {
      text-align: center;
    }
    .btn-google {
      background-color: transparent;
      color: #007bff;
      border-color: #007bff;
    }
    .btn-google:hover {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }
    #search-form {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Tutor Me</h1>

    {% if user.is_authenticated %}
      <p>Welcome, You are logged in as {{ user.username }}</p>

      <div id="search-form">
        <form class="form-inline my-2 my-lg-0" method="get">
          <input class="form-control mr-sm-2" type="search" name="search_query" placeholder="Search classes" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

      <center>
        <h3>Math Classes!</h3>

        {% if classes %}
          {% for c in classes %}
            <li><p> {{c}} </p></li>
          {% endfor %}
        {% else %}
          <p>No classes found.</p>
        {% endif %}
      </center>


    {% else %}
      <div class="row mt-3">
        <div class="col-sm-6">
          <a href="{% provider_login_url 'google' %}?next=/accounts/google/student/" class="btn btn-lg btn-google mt-3 w-100">Login as Student with Google</a>
        </div>
        <div class="col-sm-6">
          <a href="{% provider_login_url 'google' %}?next=/accounts/google/tutor/" class="btn btn-lg btn-google mt-3 w-100">Login as Tutor with Google</a>
        </div>
      </div>
    {% endif %}
  </div>
</body>
</html>
