{% load bootstrap5 %}

<!DOCTYPE html>
<html>
  <head>
    <title>Available Tutors</title>
    {% bootstrap_css %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Tutor Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-4">
      <h3>Available Tutors</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Class Name</th>
            <th>Tutor</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
        </thead>
        <tbody>




          <tr>
            <td colspan="4">No tutor classes found.</td>
          </tr>

        </tbody>
      </table>
    </div>
    {% bootstrap_javascript %}
  </body>
</html>