<table>
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Tutor</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    {% for tutor_class in tutor_classes %}
    <tr>
      <td>{{ tutor_class.class_name }}</td>
      <td>{{ tutor_class.tutor }}</td>
      <td>{{ tutor_class.start_time }}</td>
      <td>{{ tutor_class.end_time }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No tutor classes found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
