{% block content %}
  <form class="form-inline my-2 my-lg-0" action="{% url 'student_dashboard' %}" method="get">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <hr>
  {% if courses %}
    <h3>Results for "{{ query }}"</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Catalog Number</th>
          <th>Class Section</th>
          <th>Component</th>
          <th>Description</th>
          <th>Class Nbr</th>
          <th>Capacity</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.subject }}</td>
            <td>{{ course.catalog_nbr }}</td>
            <td>{{ course.class_section }}</td>
            <td>{{ course.component }}</td>
            <td>{{ course.descr }}</td>
            <td>{{ course.class_nbr }}</td>
            <td>{{ course.class_capacity }}</td>
            <td>{{ course.enrollment_available }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>No results found for "{{ query }}"</h3>
  {% endif %}
{% endblock %}
