{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<style>
  input.form-control { width: 500px!important; }
  h1 {
    font-size: 40px;
    margin:15px;
  }
</style>

<html>
<head>
  <title>Tutor Home</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Tutor Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <span class="navbar-text text-white"></span>
              <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" align="center" action="{% url 'tutor_dashboard' %}" method="get">
                  <input class="form-control mr-sm-3" type="search" name="q" placeholder="Search for a class - e.g. CS 3240" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </li>
          <ul class="navbar-nav">
            <!-- Add dropdown menu with Home and Logout buttons -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, {{ request.user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'tutor_home' %}">My Dashboard</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">
    <h1>Your Classes</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Class Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Rate (USD)</th>
          <th>Tutoring Type</th>
          <th>Days</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
  {% for tc in tutor_classes %}
  <tr>
    <td>{{ tc.class_name }}</td>
    <td>{{ tc.start_time }}</td>
    <td>{{ tc.end_time }}</td>
    <td>{% if tc.rate == 0 %}Free{% else %}{{ tc.rate }}{% endif %}</td>
    {% if tc.tutoring_type == "in_person" %}
      <td>In Person</td>
    {% else %}
      <td>Online</td>
    {% endif %}
    <td>{{ tc.days }}</td>
    <td>
    <form method="POST" action="{% url 'delete_availability' %}">
      {% csrf_token %}
      <input type="hidden" name="class_name" value="{{ tc.class_name }}">
      <input type="hidden" name="tutor" value="{{ tc.tutor }}">
      <input type="hidden" name="rate" value="{{ tc.rate }}">
      <input type="hidden" name="start_time" value="{{ tc.start_time }}">
      <input type="hidden" name="end_time" value="{{ tc.end_time }}">
      <input type="hidden" name="tutoring_type" value="{{ tc.tutoring_type }}">
      <input type="hidden" name="days" value="{{ tc.days }}">
      <button type="submit" class="btn btn-primary ">Delete Availability</button>
    </form>
  </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="6">You have not chosen any classes yet.</td>
  </tr>
  {% endfor %}
</tbody>


    </table>

    {% if session_requests %}
<h1>Student Requests</h1>
<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Class</th>
      <th>Approved</th>
      <th>Approve Request</th>
    </tr>
  </thead>
  <tbody>
    {% for request in session_requests %}
    <tr>
      <td>{{ request.student }}</td>
      <td>{{ request.class_name }}</td>
      <td>{{ request.status }}</td>
        <td>
          <form method="POST" action="{% url 'approve_request' %}">
            {% csrf_token %}
            <input type="hidden" name="student" value="{{ request.student }}">
            <input type="hidden" name="class_name" value="{{ request.class_name }}">
            <button type="submit" class="btn btn-primary">Approve Request</button>
          </form>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No requests received yet.</p>
{% endif %}
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>