{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<head>
  <title>Tutor Home</title>
</head>
<body>
  <div class="container">
    <h1>Your Classes</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Class Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Rate (USD)</th>
          <th>Tutoring Type</th>
          <th>Days</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        {% for tc in tutor_classes %}
        <tr>
          <td>{{ tc.class_name }}</td>
          <td>{{ tc.start_time }}</td>
          <td>{{ tc.end_time }}</td>
          <td>{{ tc.rate }}</td>
          {% if tc.tutoring_type == "in_person" %}
            <td>In Person</td>
          {% else %}
            <td>Online</td>
          {% endif %}
          <td>{{ tc.days }}</td>
          <td>
          <form method="POST" action="{% url 'delete_availability' %}">
            {% csrf_token %}
            <input type="hidden" name="class_name" value="{{ tc.class_name }}">
            <input type="hidden" name="tutor" value="{{ tc.tutor }}">
            <input type="hidden" name="rate" value="{{ tc.rate }}">
            <input type="hidden" name="start_time" value="{{ tc.start_time }}">
            <input type="hidden" name="end_time" value="{{ tc.end_time }}">
            <input type="hidden" name="tutoring_type" value="{{ tc.tutoring_type }}">
            <input type="hidden" name="days" value="{{ tc.days }}">
            <button type="submit" class="btn btn-primary ">Delete Availability</button>
          </form>
        </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">You have not chosen any classes yet.</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    <a href="{% url 'tutor_dashboard' %}">Go to Tutor Dashboard</a>

    {% if session_requests %}
<h1>Student Requests</h1>
<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Class</th>
      <th>Approved</th>
      <th>Approve Request</th>
    </tr>
  </thead>
  <tbody>
    {% for request in session_requests %}
    <tr>
      <td>{{ request.student }}</td>
      <td>{{ request.class_name }}</td>
      <td>{{ request.status }}</td>
        <td>
          <form method="POST" action="{% url 'approve_request' %}">
            {% csrf_token %}
            <input type="hidden" name="student" value="{{ request.student }}">
            <input type="hidden" name="class_name" value="{{ request.class_name }}">
            <button type="submit" class="btn btn-primary">Approve Request</button>
          </form>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No requests received yet.</p>
{% endif %}
  </div>
</body>
</html>