{% load bootstrap5 %}
{% bootstrap_messages %}
<!DOCTYPE html>

<style>
  input.form-control { width: 500px!important; }
</style>

<html>
  <head>
    <title>Tutor Dashboard</title>
    {% bootstrap_css %}
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Tutor Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <span class="navbar-text text-white"></span>
              <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" align="center" action="{% url 'tutor_dashboard' %}" method="get">
                  <input class="form-control mr-sm-3" type="search" name="q" placeholder="Search for a class - e.g. CS 3240" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </li>
          <ul class="navbar-nav">
            <!-- Add dropdown menu with Home and Logout buttons -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, {{ request.user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'tutor_home' %}">My Dashboard</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-4">
      {% if courses %}
      <h3 class="mb-4">Results for "{{ query }}"</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Catalog Number</th>
            <th>Component</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td>{{ course.subject }}</td>
            <td>{{ course.catalog_nbr }}</td>
            <td>{{ course.component }}</td>
            <td>{{ course.descr }}</td>
            <td>
            <form method="post" action="{% url 'tutor_hours' %}">
              {% csrf_token %}
              <input type="hidden" name="class_name" value="{{ course.subject }} {{ course.catalog_nbr }}">
              <label for="hourly rate">Hourly Rate: $</label>
              <input type="number" name="rate" min="0" max="1000" oninput="validity.valid||(value='');" required>
              <label for="start_time">From:</label>
              <input type="time" name="start_time" required>
              <label for="end_time">To:</label>
              <input type="time" name="end_time" required>

              <br>
              <label>Tutoring Type:</label>
              <input type="radio" id="in_person" name="tutoring_type" value="in_person" required>
              <label for="in_person">In Person</label>
              <input type="radio" id="online" name="tutoring_type" value="online">
              <label for="online">Online</label>
              <br>
              <label>Available Days:</label>
              <input type="checkbox" id="monday" name="days[]" value="Monday">
              <label for="monday">Monday</label>
              <input type="checkbox" id="tuesday" name="days[]" value="Tuesday">
              <label for="tuesday">Tuesday</label>
              <input type="checkbox" id="wednesday" name="days[]" value="Wednesday">
              <label for="wednesday">Wednesday</label>
              <input type="checkbox" id="thursday" name="days[]" value="Thursday">
              <label for="thursday">Thursday</label>
              <input type="checkbox" id="friday" name="days[]" value="Friday">
              <label for="friday">Friday</label>
              <input type="checkbox" id="saturday" name="days[]" value="Saturday">
              <label for="saturday">Saturday</label>
              <input type="checkbox" id="sunday" name="days[]" value="Sunday">
              <label for="sunday">Sunday</label>

              <br>

              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>Please search for a class</h3>
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    {% bootstrap_javascript %}
  </body>
</html>
